@font-face {
    font-family: "Liberation";
    src: url("fonts/LiberationSansRegular.woff2") format("woff2"),
         url("fonts/LiberationSansRegular.woff") format("woff"),
         url("fonts/LiberationSansRegular.eot") format("embedded-opentype"),
         url("fonts/LiberationSansRegular.ttf") format("truetype"),
         url("fonts/LiberationSansRegular.svg#LiberationSansRegular") format("svg");
}

body, head, div, span, input {
    font-family: Tahoma, Verdana;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.fs {
    width: 100%;
    height: 100%;
}

.bs {
    box-sizing: border-box;
}

.ma {
    margin: auto;
}

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

.left {
    float: left;
}

.right {
    float: right;
}

.zero-margin {
    margin: 0;
}

.zero-padding {
    padding: 0;
}

.no-select {
    user-select: none;
}

.bg1 {
    background-color: #0a1722;
}

.bg1-50 {
    background-color: rgba(10, 23, 34, 0.50);
}

.bg2 {
    background-color: rgba(46, 53, 64, 1);
}

.bg3 {
    background-color: rgb(142, 142, 142);
}

.wf {
    width: 100%;
}

.hf {
    height: 100%;
}

.border-radius {
    border-radius: 5px;
}

.border-radius-l {
    border-radius: 10px;
}

.border1 {
    border-width: 1px;
    border-color: rgb(63, 234, 255);
    border-style: solid;
}

.border2 {
    border-width: 1px;
    border-color: rgb(60, 61, 62);
    border-style: solid;
}

.border3 {
    border-width: 1px;
    border-color: rgb(82, 82, 82);
    border-style: solid;
}

.dark {
    filter: brightness(0.5)
}

.bg-grid {
    background-image: url("../js/client/images/grid2.png");
}

.fg1 {
    color: rgb(63, 234, 255);
}

.fg2 {
    color: rgb(250, 243, 255);
}

.fg3 {
    color: rgb(157, 202, 101);
}

.fg4 {
    color: rgb(134, 154, 121);
}

.fg-alert {
    color: rgb(255, 102, 102);;
}

.fg-shadow {
    text-shadow: 0 0 20px rgba(63, 234, 255, 0.5);
}

.fg-size-s {
    font-size: 15px;
}

.fg-size-m {
    font-size: 20px;
}

.fg-size-l {
    font-size: 26px;
}

.shadow1 {
    box-shadow: inset 0 0 20px 0 #51ff1817, 0 0 20px #00000057;
}

.tac {
    text-align: center;
}

.vam {
    vertical-align: middle;
}

.dtc {
    display: table-cell;
}

.uppercase {
    text-transform: uppercase;
}

.padding-s {
    padding: 2px;
}

.padding-m {
    padding: 5px;
}

.padding-l {
    padding: 8px;
}

.padding-left-m {
    padding-left: 5px;
}

.padding-left-l {
    padding-left: 8px;
}

.level-offset > div:not(:last-child), input:not(:last-child) {
    margin-bottom: 5px;
}

.dib {
    display: inline-block;
}

.cp {
    cursor: pointer;
}

.block {
    display: block;
}

.hide {
    visibility: hidden;
}

.top {
    top: 0;
}

.bg-no-repeat {
   background-repeat: no-repeat;
}

.bg-pos-middle {
    background-position: 50% 50%;
}

.oh {
    overflow: auto;
}

.bg-fs {
    background-size: 100%;
}

.dn {
    display: none;
}

.db {
    display: block;
}