.ui-hello-page-box {
    width: 341px;
    height: 35px;
}

.button1, .input1, .list1 {
    transition: background-color 500ms, filter 500ms;
    background-color: rgba(0,0,0,0);
}

.button1, .input1, .list1{
    filter: brightness(0.4) grayscale(0.8);
}

.button1.map-row {
    filter: brightness(1) grayscale(1);
}

.button1:hover,
.input1:hover
{
    filter: brightness(1) grayscale(0);
    background-color: rgba(63, 234, 255, 0.1);
}

.button1:active {
    background-color: rgba(63, 234, 255, 0.2);
}

div.button1.noactive, input.input1.noactive {
    cursor: auto;
    filter: brightness(0.6) grayscale(1);
}

.input1:focus, .input1:active {
    filter: brightness(1) grayscale(0);
    background-color: rgba(63, 234, 255, 0.2);
}

.ui-switch-box {
    transition: background 200ms;
    width: 30px;
    height: 11px;
}

.ui-switch-box.sb-enable:before {
    transition: left 200ms;
    content: ".";
    font-size: 0;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background: rgb(157, 202, 101);
    position: absolute;
    top: -2px;
    left: 0;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.52);
}

.ui-switch-box.sb-enable.sb-false:before {
    content: ".";
    font-size: 0;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background: rgb(157, 202, 101);
    position: absolute;
    top: -2px;
    left: calc(100% - 15px);;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.52);
}



.ui-win-bg-back {
    background: #1F182D;
}

.ui-win-bg-front {
    background: #FFFFFF;
}

.ui-win-content {

}
